1012 EXERCISE

Exercise 1: Print the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(        )

Answer:

In [2]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

Exercise 2: Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
       =

Answer:

In [3]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

Exercise 3: Use the append method to add "orange" to the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]

Answer:

In [4]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

Exercise 4: Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
            "lemon")

Answer:

In [5]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

Exercise 5: Use the remove method to remove "banana" from the fruits list.

In [ ]:
fruits = ["apple", "banana", "cherry"]

Answer:

In [6]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

Exercise 6: Use negative indexing to print the last item in the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(      )

Answer:

In [7]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

Exercise 7: Use a range of indexes to print the third, fourth, and fifth item in the list.

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[  ])

Answer:

In [8]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

Exercise 8: Use the correct syntax to print the number of items in the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(      )

Answer:

In [9]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

Example 2: Remove() method on a list having duplicate elements

In [25]:
# flowers list
flowers = ['daisy', 'tulips', 'roses', 'sunflower', 'roses']

# 'roses' is removed
flowers.remove('roses')


# Updated flowers list
print('Updated flowers list: ', flowers)

Updated flowers list:  ['daisy', 'tulips', 'sunflower', 'roses']

Example 3: Deleting element that doesn't exist

In [26]:
# flowers list
flowers = ['tulips', 'lavender', 'roses', 'daisy'] 

# Deleting 'lavender' element
flowers.remove ('lavender')


# Updated Flowers List
print('Updated flowers list: ', flowers)

Updated flowers list:  ['tulips', 'roses', 'daisy']