In [ ]:

def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 50 is", sum(1, 100)) 
    print("Sum from 20 to 100 is", sum(20, 300))
    print("Sum from 35 to 150 is", sum(35, 500))

main() # Call the main function

Sum from 1 to 50 is 4950
Sum from 20 to 100 is 44660
Sum from 35 to 150 is 124155

f(101)

In [ ]:
def f(n):
   if n == 1:
     return 1
   else:
     return f(n-1) + n

f(101)

5151

Fibonacci Sequence

In [1]:
def f(n):
    if n == 0:
      return 0
    if n == 1:
      return 1
    else:
      return f(n-1) + f(n-2)

f(6) #in this code note that the n starts at 0

8

In [3]:
def f(n):
  a = 0
  b = 1
  if n == 0:
    return a
  if n == 1:
    return b
  else:
    for i in range(2,n):
        c = a + b
        a = b
        b = c
    return b
f(7) #in this code note that the n starts at 1

8